
/***********************************************************************************
  
Header Menu
  
************************************************************************************/

#header ul li.current a::before,
#header ul li a:hover::before {
    background-color: rgba(255, 255, 255, 1.0);
}

.intro #header ul li a,
.menu #header ul li a {
    color: rgba(255, 255, 255, 1.0);
}

.about #header ul li a,
.locations #header ul li a {
    color: rgba(0, 0, 0, 0.65);
}

.about #header ul li.current a::before,
.about #header ul li a:hover::before,
.locations #header ul li.current a::before,
.locations #header ul li a:hover::before {
    background-color: rgba(0, 0, 0, 0.65);
}

/***********************************************************************************
  
Sections
  
************************************************************************************/

section.split .copy {
    background-color: rgba(255, 255, 255, 0.95);
    color: rgba(0, 0, 0, 0.45);
}

section.split .copy .content h2 {
    border-color: rgba(0, 0, 0, 0.05);
    color: rgba(0, 0, 0, 0.65);
}

section.split .copy .content p a {
    color: rgba(0, 0, 0, 0.45);
}

/***********************************************************************************
  
Intro Panel
  
************************************************************************************/

#intro::after {
    background-color: rgba(53, 39, 36, 0.5);
}

/***********************************************************************************
  
Intro Panel Text
  
************************************************************************************/

#intro {
    color: rgba(255, 255, 255, 1.0);
}

#intro .copy .divider::after {
    border-color: rgba(255, 255, 255, 0.35);
}

#intro .copy .social a {
    background-color: rgba(255, 255, 255, 1.0);
    box-shadow:
        0 0 0 2px rgba(0, 0, 0, 0.65),
        0 0 0 4px rgba(255, 255, 255, 1.0);
    color: rgba(0, 0, 0, 0.65);
}

#intro .copy .social a:hover {
    background-color: rgba(255, 255, 255, 1.0);
    color: rgba(53, 39, 36, 1.0);
}

/***********************************************************************************
  
About Panel
  
************************************************************************************/

#about .copy .image {
    border-color: rgba(0, 0, 0, 0.05);
}

/***********************************************************************************
  
Menus Panel
  
************************************************************************************/

#menu::after {
    background-color: rgba(147, 92, 93, 0.95);
}

#menu .content,
#menu .content::after {
    border-color: rgba(255, 255, 255, 0.1);
}

/***********************************************************************************
  
Menus Panel Menus
  
************************************************************************************/

#menu .content .column .menu {
    border-color: rgba(255, 255, 255, 0.5);
}

#menu .content .column .menu h2 {
    border-color: rgba(255, 255, 255, 0.1);
    color: rgba(255, 255, 255, 0.95);
}

/***********************************************************************************
  
Menus Panel Menu Items
  
************************************************************************************/

#menu .content .column .menu .item {
    border-color: rgba(255, 255, 255, 0.1);
    color: rgba(255, 255, 255, 0.5);
}

#menu .content .column .menu .item h3 {
    color: rgba(255, 255, 255, 0.8);
}

#menu .content .column .menu .item span {
    background-color: rgba(255, 255, 255, 0.95);
    color: rgba(147, 92, 93, 1.0);
}

/***********************************************************************************
  
Locations Panel
  
************************************************************************************/

#locations .copy .content .location {
    border-color: rgba(0, 0, 0, 0.05);
}

#locations .copy .content .location li .icon {
    background-color: rgba(0, 0, 0, 0.65);
    color: rgba(255, 255, 255, 1.0);
}

/***********************************************************************************
  
Contact Form
  
************************************************************************************/

#locations form {
    background-color: rgba(0, 0, 0, 0.75);
}

#locations form .form-message.success,
#locations form .form-message.error {
    background-color: rgba(0, 0, 0, 0.25);
    color: rgba(255, 255, 255, 1.0);
}

#locations form .icon.edit:before {
    color: rgba(255, 255, 255, 0.55);
}

#locations form input[type="text"],
#locations form input[type="password"],
#locations form input[type="email"],
#locations form textarea {
    border-color: rgba(255, 255, 255, 0.25);
    color: rgba(255, 255, 255, 0.55);
}

#locations form input[type="text"]:focus,
#locations form input[type="password"]:focus,
#locations form input[type="email"]:focus,
#locations form textarea:focus {
    color: rgba(255, 255, 255, 0.75);
}

#locations form p.characters {
    background-color: rgba(255, 255, 255, 0.075);
    color: rgba(255, 255, 255, 0.35);
}

#locations form button {
    background-color: rgba(0, 0, 0, 0.25);
    color: rgba(255, 255, 255, 0.75);
}

#locations form button:hover {
    background-color: rgba(0, 0, 0, 0.5);
}

/***********************************************************************************
  
News Panel
  
************************************************************************************/

#news::after {
    background-color: rgba(31, 21, 21, 0.45);
}

#news {
    color: rgba(255, 255, 255, 1.0);
}

#news .divider::after {
    border-color: rgba(255, 255, 255, 0.5);
}


#news form input[type="text"],
#news form input[type="email"] {
    border-color: rgba(255, 255, 255, 1.0);
    color: rgba(255, 255, 255, 1.0);
}

#news form .button {
    background-color: rgba(255, 255, 255, 1.0);
    box-shadow:
        0 0 0 2px rgba(0, 0, 0, 0.65),
        0 0 0 4px rgba(255, 255, 255, 1.0);
    color: rgba(0, 0, 0, 0.65);
}

/***********************************************************************************
  
Loading Overlay
  
************************************************************************************/

#overlay {
    background-color: rgba(255, 255, 255, 1.0);
}

/***********************************************************************************
  
Loading Indicator

************************************************************************************/

.loading {
    background-color: rgba( 0, 0, 0, .075 );
}

.loading div {
    background-color: rgba(255, 255, 255, 0.75);    
}
