
/***********************************************************************************
  
Header Logo
  
************************************************************************************/

.intro #header #logo,
.menu #header #logo {
    background-image: url('../images/logo-white.png');
}

.about #header #logo,
.locations #header #logo {
    background-image: url('../images/logo-black.png');
}

/***********************************************************************************
  
Intro Panel
  
************************************************************************************/

#intro::before {
    background-image: url('../images/intro-bg.jpg');
}

/***********************************************************************************
  
About Panel
  
************************************************************************************/

#about::before {
    background-image: url('../images/about-bg.jpg');
}

#about .media {
    background-image: url('../images/about-media.jpg');
}

/***********************************************************************************
  
Menus Panel
  
************************************************************************************/

#menu::before {
    background-image: url('../images/menu-bg.jpg');
}

/***********************************************************************************
  
Locations Panel
  
************************************************************************************/

#locations::before {
    background-image: url('../images/locations-bg.jpg');
}

#locations .media {
    background-image: url('../images/locations-media.jpg');
}

/***********************************************************************************
  
News Panel
  
************************************************************************************/

#news::before {
    background-image: url('../images/news-bg.jpg');
}
