
/***********************************************************************************
  
Setup
  
************************************************************************************/

html,
body {
    width: 100%;
    height: 100%;
}

*, *::before, *::after {
    -moz-box-sizing: border-box; 
    -webkit-box-sizing: border-box; 
    box-sizing: border-box;
}

/***********************************************************************************
  
Typography
  
************************************************************************************/

body {
    font-family: 'Source Sans Pro', sans-serif;
    font-weight: 400;
}

h1, h2 {    
    font-family: 'Montserrat', sans-serif;
    font-weight: 700;
    text-transform: uppercase;
}

a {
    text-decoration: none;
    transition-duration: 0.25s;
}

p a,
strong {
    font-weight: 700;
}

p a {
    border-bottom: 1px solid;
}

/***********************************************************************************
  
Icons
  
************************************************************************************/

@font-face { 
    font-family: "ionicons"; 
    src: url("../icons/ionicons.eot?v=1.4.1"); 
    src: url("../icons/ionicons.eot?v=1.4.1#iefix") format("embedded-opentype"), 
         url("../icons/ionicons.ttf?v=1.4.1") format("truetype"), 
         url("../icons/ionicons.woff?v=1.4.1") format("woff"), 
         url("../icons/ionicons.svg?v=1.4.1#Ionicons") format("svg"); 
    font-weight: normal; 
    font-style: normal; 
}

.icon { 
    font-family: "ionicons"; 
    speak: none; 
    font-style: normal; 
    font-weight: normal; 
    font-variant: normal; 
    text-transform: none; 
    text-rendering: auto; 
    line-height: 1; 
    -webkit-font-smoothing: antialiased; 
    -moz-osx-font-smoothing: grayscale; 
    
    display: inline-block; 
}

.icon.twitter:before { content: "\f243"; }
.icon.facebook:before { content: "\f231"; }
.icon.instagram:before { content: "\f351"; }
.icon.email:before { content: "\f423"; }
.icon.marker:before { content: "\f1ff"; }
.icon.clock:before { content: "\f403"; }
.icon.phone:before { content: "\f4b9"; }
.icon.submit:before { content: "\f3fd"; }
.icon.edit:before { content: "\f2bf"; }

/***********************************************************************************
  
Header
  
************************************************************************************/

#header {
    line-height: 100px;
    
    width: 100%;
    height: 100px;
    
    position: fixed;
    top: 0;
    left: 0;
    z-index: 10;
    
    overflow: hidden;
}

/***********************************************************************************
  
Header Logo
  
************************************************************************************/

#header #logo {
    background: top left no-repeat;
    background-size: auto 60px;
    
    width: 50%;
    height: 60px;
    
    position: absolute;
    top: 20px;
    left: 40px;
}

/***********************************************************************************
  
Header Menu
  
************************************************************************************/

#header ul {
    position: absolute;
    top: 0;
    right: 40px;
}

#header ul li,
#header ul li a {
    float: left;
    position: relative;
}

#header ul li {
    margin-left: 20px;
}

#header ul li a {
    font-family: 'Montserrat', sans-serif;
    font-weight: 700;
}

#header ul li.current a::before,
#header ul li a:hover::before {
    border-radius: 50%;
    
    width: 12px;
    height: 12px;
    
    position: absolute;
    top: -6px;
    left: 50%;
    
    margin-left: -6px;
    
    content: '';
}

/***********************************************************************************
  
Sections
  
************************************************************************************/

section {
    width: 100%;
    
    position: relative;
    
    overflow: hidden; 
}

section.full {
    height: 100%;
}

section.full .copy {
    text-align: center;
    
    width: 100%;
    
    position: absolute;
    top: 50%;
    z-index: 1;   
}

section.full .copy.centered {
    -webkit-transform: translateY(-50%);
    -ms-transform: translateY(-50%);
    transform: translateY(-50%); 
}

section.full h1 {
    font-size: 100px;
    line-height: 69.5px;
    
    padding: 0 100px;
}

section.full .copy blockquote {
    font-size: 28px;
    line-height: 34px;
    
    padding: 0 100px;
}

section::before,
section.split .media  {
    background-size: cover;
    background-repeat: no-repeat;
    background-position: center center;
}

@media (min-width: 1000px) {

    /* Exclude Tablets & Phones */
    section::before  {
        background-attachment: fixed;
    }
}

section::before,
section::after {
    width: 100%;
    height: 100%;
    
    position: absolute;
    top: 0;
    left: 0;
    
    content: '';
}

section::before {
    z-index: -2;
}

section::after {
    z-index: -1;
}

section h2 {
    font-size: 48px;
    line-height: 34px;
}

section .divider {
    width: 100%;
    height: 40px;
    
    display: block;
    
    position: relative;
    
    margin: 30px 0;
}

section .divider::after {
    border-bottom: 2px dashed;
    
    width: 100%;
    height: 2px;
    
    position: absolute;
    top: 50%;
    left: 0;
    z-index: -1;
    
    margin-top: -1px;
    
    content: '';
}

section.split .media {
    width: 50%;
    height: 100%;
    
    position: absolute;
    top: 0;
    left: 0;
}

section.split .copy {
    width: 50%;
    
    float: left;
    
    margin-left: 50%;
}

section.split .copy .content {
    float: left;
    
    padding: 100px;
}

section.split .copy .content h2 {
    border-bottom: 1px solid;
    
    width: 100%;
    
    padding-bottom: 40px;
    margin-bottom: 28px;
}

section.split .copy .content h3,
section.split .copy .content blockquote {
    font-size: 28px;
    line-height: 34px;
    
    margin-bottom: 24px;
}

section.split .copy .content p {
    font-size: 16px;
    line-height: 22px;
    
    margin-bottom: 17px;
}

/***********************************************************************************
  
Intro Panel
  
************************************************************************************/

#intro .copy .social {
    height: 40px;
    
    margin: 48px 0 35px;
}

#intro .copy .social a {
    border-radius: 50%;
    
    font-size: 22px;
    line-height: 40px;
    
    width: 40px;
    height: 40px;
    
    margin: 0 15px;
}

/***********************************************************************************
  
About Panel
  
************************************************************************************/

#about .copy p:last-of-type {
    margin-bottom: 0;
}

#about .copy .image {
    border-top: 1px solid;
    border-bottom: 1px solid;
    
    width: 100%;
    
    float: left;
    
    padding: 40px 0;
    margin: 35px 0;
}

#about .copy .image img {
    width: 100%;
}

#about .copy .image:last-of-type {
    border-bottom: none;
    
    padding-bottom: 0;
    margin-bottom: 0;
}

#about .copy .image.signature img {
    width: 35%;
}

/***********************************************************************************
  
Menus Panel
  
************************************************************************************/

#menu .content {
    border-left: 1px solid;
    border-right: 1px solid;
    
    position: relative;
    
    float: left;
    
    margin: 0 100px;
}

#menu .content::after {
    border-left: 1px solid;
    border-right: 1px solid;
    
    width: 33.333333333%;
    height: 100%;
    
    position: absolute;
    top: 0;
    left: 33.333333333%;
    
    content: "";
}

/***********************************************************************************
  
Menus Panel Columns
  
************************************************************************************/

#menu .content .column {
    width: 33.333333333%;
    
    float: left;
    
    padding-top: 100px;
}

/***********************************************************************************
  
Menus Panel Menus
  
************************************************************************************/

#menu .content .column .menu {
    float: left;
    
    padding: 0 50px 75px;
}

#menu .content .column .menu h2 {
    border-bottom: 1px solid;
    
    font-size: 24px;
    line-height: 18px;
    
    padding-bottom: 30px;
    margin-bottom: 21px;
}

/***********************************************************************************
  
Menus Panel Menu Items
  
************************************************************************************/

#menu .content .column .menu .item {
    border-bottom: 1px dashed;
    
    width: 100%;
    
    float: left;
    
    padding-bottom: 20px;
    margin-bottom: 15px;
}

#menu .content .column .menu .item:last-of-type {
    border: none;
    
    padding: 0;
    margin-bottom: 23px;
}

#menu .content .column .menu .item h3 {
    font-size: 16px;
    line-height: 22px;
    
    margin-bottom: 10px;
}

#menu .content .column .menu .item p {
    font-size: 14px;
    line-height: 18px;
    
    margin-bottom: 16px;
}

#menu .content .column .menu .item span {
    border-radius: 10px;
    
    font-size: 12px;
    line-height: 20px;
    
    height: 20px;
    
    display: inline-block;
    
    padding: 0 8px;
}

/***********************************************************************************
  
Locations Panel
  
************************************************************************************/

#locations #map {
    width: 100%;
    height: 100%;
}

#locations .copy .content .location {
    border-bottom: 1px solid;
    
    width: 100%;
    
    float: left;
    
    padding-bottom: 36px;
    margin-bottom: 30px;
}

#locations .copy .content .location p {
    margin-bottom: 30px;
}

#locations .copy .content .location li {
    font-size: 16px;
    line-height: 19px;
    
    width: 100%;
    
    float: left;
    
    margin-bottom: 1px;
}

#locations .copy .content .location li .icon {    
    font-size: 14px;
    text-align: center;
    line-height: 20px;
    
    width: 20px;
    height: 20px;
    
    float: left;
    
    margin: 0 10px 0 0;
}

#locations .copy .content .location li .icon.clock {    
    font-size: 12px;
}

/***********************************************************************************
  
Contact Form
  
************************************************************************************/

#locations form,
#locations form .row,
#locations form .form-message.success,
#locations form .form-message.error  {
    width: 100%;
    
    float: left;
    
    position: relative;
}

#locations form {
    border-radius: 20px;
    
    padding: 40px 40px 55px;
    margin-top: 8px;
}

#locations form .form-message.success,
#locations form .form-message.error {
    border-radius: 3px;
    
    font-size: 14px;
    line-height: 30px;
    text-align: center;
    
    height: 30px;
    
    margin-bottom: 30px;
}

#locations form .icon.edit:before {
    font-size: 11px;
    
    position: absolute;
    top: 3px;
    left: 0;
}

#locations form input[type="text"],
#locations form input[type="password"],
#locations form input[type="email"],
#locations form textarea {
    background: none;
    
    border: none;
    border-bottom: 1px dashed;
    
    outline: none;
    resize: none;
    
    font-family: 'Source Sans Pro', sans-serif;
    font-size: 14px;
    font-weight: 400;
    line-height: 16px;
    
    width: 100%;
    
    float: left;
    
    position: relative;
    
    padding: 0 0 4px 16px;
    margin: 0 0 20px;
}

#locations form textarea {
    height: 16px;
    
    padding-bottom: 6px;
    margin-bottom: 6px;
}

#locations form p.characters {
    border: none;
    border-radius: 9px;
    
    font-size: 12px;
    line-height: 18px;
    
    float: right;
    
    padding: 0 8px;
}

#locations form button {
    border-radius: 0 0 20px 20px;
    border: none;
    
    font-family: 'Source Sans Pro', sans-serif;
    font-weight: 400;
    font-size: 16px;
    line-height: 30px;
    
    width: 100%;
    height: 40px;
    
    position: absolute;
    bottom: 0;
    left: 0;
    
    cursor: pointer;
}

/***********************************************************************************
  
News Panel
  
************************************************************************************/

#news {
    text-align: center;
    
    padding: 100px 0;
}

#news .divider {
    margin: 16px 0 22px;
}

#news h2 {
    margin-bottom: 32px;
}

#news p {
    font-size: 18px;
    line-height: 24px;
    
    padding: 0 100px;
}

#news form {
    width: 240px;
    
    position: relative;
    
    margin: 0px auto;
}

#news form input[type="text"],
#news form input[type="email"] {
    background: none;
    
    border: 2px solid;
    border-radius: 20px;
    
    outline: none;
    
    font-family: 'Source Sans Pro', sans-serif;
    font-weight: 400;
    font-size: 14px;
    line-height: 38px;
    text-align: center;
    
    width: 240px;
    height: 38px;
    
    padding: 0 20px;
    
    -webkit-appearance: none;
}

#news form .button {
    border: none;
    border-radius: 50%;
    
    outline: none;
    
    font-size: 40px;
    line-height: 34px;
    text-align: center;
    
    width: 34px;
    height: 34px;
    
    position: absolute;
    top: 30px;
    left: 50%;
    
    padding: 0;
    margin-left: -17px;
    
    cursor: pointer;
    
    transition-duration: 0.25s;
}

/***********************************************************************************
  
Loading Overlay
  
************************************************************************************/

#overlay {
    position: fixed;
    top: 0;
    right: 0;
    bottom: 0;
    left: 0;
    z-index: 20;
}

#overlay img {
    width: 150px;
    
    position: absolute;
    top: 100px;
    left: 50%;
    
    margin-left: -75px;
}

/***********************************************************************************
  
Loading Indicator
  
************************************************************************************/

.loading {
    -webkit-animation: fade-in .25s linear;
    -moz-animation: fade-in .25s linear;
    -o-animation: fade-in .25s linear;
    animation: fade-in .25s linear;
}

@-webkit-keyframes fade-in {
    from	{ opacity: 0; }
    to		{ opacity: 1; }
}

@-moz-keyframes fade-in {
    from	{ opacity: 0; }
    to		{ opacity: 1; }
}

@-o-keyframes fade-in {
    from	{ opacity: 0; }
    to		{ opacity: 1; }
}

@keyframes fade-in {
    from	{ opacity: 0; }
    to		{ opacity: 1; }
}

.loading,
.loading div {
    border-radius: 50%;
}

.loading {
    width: 40px;
    height: 40px;   
     
    position: fixed;
    top: 50%;
    left: 50%;
    z-index: 30;
    
    padding: 10px;
    margin: -20px 0 0 -20px;
}

.loading div {
    width: 20px;
    height: 20px;
    
    -webkit-animation: loading .5s ease infinite;
    -moz-animation: loading .5s ease infinite;
    -o-animation: loading .5s ease infinite;
    animation: loading .5s ease infinite;
}

@-webkit-keyframes loading {
    from { opacity: .5;	-webkit-transform: scale( .75 ); }
    50%	 { opacity: 1;	-webkit-transform: scale( 1 ); }
    to	 { opacity: .5;	-webkit-transform: scale( .75 ); }
}

@-moz-keyframes loading {
    from { opacity: .5;	-moz-transform: scale( .75 ); }
    50%	 { opacity: 1;	-moz-transform: scale( 1 ); }
    to	 { opacity: .5;	-moz-transform: scale( .75 ); }
}

@-o-keyframes loading {
    from { opacity: .5;	-o-transform: scale( .75 ); }
    50%	 { opacity: 1;	-o-transform: scale( 1 ); }
    to	 { opacity: .5;	-o-transform: scale( .75 ); }
}

@keyframes loading {
    from { opacity: .5;	transform: scale( .75 ); }
    50%	 { opacity: 1;	transform: scale( 1 ); }
    to	 { opacity: .5;	transform: scale( .75 ); }
}
